<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

        <div class="item active first-carousel">
            <img src="../../assets/images/carousel/1.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <h3>Schezwan Potato Coins</h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br /> and typesetting industry.</p>
            </div>
        </div>

        <div class="item second-heading">
            <img src="../../assets/images/carousel/2.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <h3>Tomcorn Pasta Soup</h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br /> and typesetting industry.</p>
            </div>
        </div>

        <div class="item third-heading">
            <img src="../../assets/images/carousel/3.jpg" alt="Los Angeles">
            <!-- <div class="carousel-caption">
                <h3>Dhaba Style Chur Chur Naan</h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br /> and typesetting industry.</p>
            </div> -->
        </div>

    </div>

</div>

<div class="logo">
    <img src="../../assets/images/logo.png" alt="nikicipe logo" class="img-responsive" />
</div>
