/* You can add global styles to this file, and also import other style files */

//header

header {
    position: relative; 
    
    .header-logo-search {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;

        & > li {
            display: inline-block;
            
            &:first-child{
                margin-right: 30px;

                a {
                    color: #fff;
                    font-size: 80px;
                }
            }

            &:last-child > input {
                display: inline-block;                
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #fff;
                background-color: transparent;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            }
        }
    }
}
//header


//leftmenu
.leftnavigation {    
    list-style: none;
    padding: 0;
    margin: 0;    
    background-color: #292224; 
    height: calc(100vh - 304px);
    
    & > li {
        padding: 15px 15px;
        border-bottom: 1px solid grey;

        & > a {
            color: #fff;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
        
    }
}
//leftmenu


// .content-wrapper {    
//     padding: 0 15px;        
// }

.search-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    & > div {

        border-bottom: 1px solid #dddddd;

        td > p {
            font-size: 20px;
            margin-bottom: 0;
        }

        .form-group {
            max-width: 200px;
            display: inline-block;
            margin-bottom: 0;
        }

        .form-control {
            margin-bottom: 0 !important;
        }
    }
}

.receipi {

    //height: calc(100vh - 400px);
    // height: auto;
    // overflow-y: auto;

    & .row {
        & > div {
            & > iframe {
                width: 100%;
            }
            margin-bottom: 30px;
        }
    }    
}

@media only screen and (max-width: 768px) {

    .search-wrapper > div .form-group {
        max-width: 100%;
        display: block;
    }

    .search-wrapper > div {
        border: 0;
    }

    .content-wrapper {
        padding: 0 0;
    }

    .receipi {
        height: auto;
    }

    .filter > svg {
        width: 25px;
        height: auto;
    }

    .mob-filter-pop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        padding: 20px 20px;
        overflow-x: auto;
        z-index: 1;
    }

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        cursor: pointer;
    }

    .close > svg {
        width: 30px;
        height: 30px;
    }

    .mob-filter-pop h4 {
        border-bottom: 2px solid #dddddd;
        padding-bottom: 10px;
    }

    .filter-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .filter-links > li {
        border-bottom: 1px solid #dddddd;
        padding: 10px 0;
        font-size: 16px;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav>li {
        padding:0 15px;
    }

    .navbar-right {
        margin-bottom: 15px;
        & > li {
            display: inline-block;
            margin-right:10px;
        }
    }

    .footer {
        a, p {
            padding: 5px 0 !important;
            text-align: center !important;
            display: block !important;
        }
    }

}

.dasignation {
    color: #a6a6a6;
    display: block;
    margin-bottom: 20px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-20 {
    margin-top: 20px;;
}

h2 {
    margin-bottom: 30px;
}
